{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<h2>Slideshow creation</h2>
{% include 'BerkmanSlideshowBundle:Slideshow:newForm.html.twig' %}

<ul class="record_actions">
    <li>
        <a href="{{ path('slideshow') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

