{% form_theme form theme %}
<div class="page">
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        <fieldset>
        <legend>Edit Profile</legend>
        {{ form_widget(form) }}
        </fieldset>
        <div class="centered">
            <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
</div>
