{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block title %}Spectacle - Frequently Asked Questions{% endblock %}

{% block body %}
<div id="faq" class="page">
    <h2>What does it do?</h2>
    <p>Harvard Spectacle is a slideshow generator that allows you to find images from Harvard library and museum collections and incorporate them into an online slideshow. Each image is linked to descriptive information about the image and the Harvard collection within which it resides.</p>
    <p>All slideshows are accessible from a public gallery, and you may incorporate images from slideshows that others have created into one of your own.</p>

    <h2>Who is it for?</h2>

    <p>Harvard Spectacle may be used by anyone. We hope and expect that Harvard faculty, students, administrators, librarians and curators will all make use of the system, but we also hope that users beyond Harvard find the system useful and fun.</p>

    <h2>What sort of content is available?</h2>

    <p>For more than a decade Harvard libraries and museums have been making and collecting content that can be delivered online. Millions of public domain and Harvard-owned images can be included in slideshows -- images of photographs, book and manuscript pages, paintings, plant and animal specimens, art objects and ephemera. More.</p>

    <h2>Why did you build it?</h2>

    <p>We wanted an easy way to gather amazing images from Harvard collections and to share them online, and we had no trouble coming up with potential use cases:
        <ul>
        <li>Faculty could create slideshows for classroom instruction, or link to them as a supplemental resources for students.</li>
        <li>Slideshows could be for public presentation by library and museum staff, university administrators and faculty.</li>
        <li>Slideshows could run on public kiosks and on idle workstations to raise local awareness of the riches of Harvard library collections.</li>
        <li>Online exhibits cold be assembled quickly, without tasking web managers or developers.</li>
        </ul>
    </p>
    <p>We hope that many users beyond Harvard will find interesting content that they can assemble to support their own teaching and learning; or just for the pleasure of discovering and sharing images that please, fascinate, or confound.</p>
    <p>In addition to all of the reasons that inspired the development of Harvard Spectacle, we hope to hear that it finds uses and audiences that we’ve never considered.</p>

    <h2>Feedback</h2>

    <p>Please let us know what you think, and if you’ve created a slideshow, please take a moment to tell us what motivated you to make one. Why did you do it? Who did you show it to or share it with? Email us at .</p>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
