{% extends "BerkmanSlideshowBundle::layout.html.twig" %}

{% block title %}Spectacle - Check for Confirmation Email{% endblock %}

{% block body %}
<div class="page">
    <h2>Check Your Email</h2>
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
</div>
{% endblock body %}
