{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<h1>Search</h1>
{% include 'BerkmanSlideshowBundle:Find:find.html.twig' %}

<ul class="record_actions">
    <li>
        <a href="{{ path('find_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

