/*
 * Black: #000
 * Red: #ff0103;
 * Background Red: #cc0001;
 * End Gradient Red: #6e0100;
 * Tab Gray: #999;
 * Border Gray: #666;
 * Tile Gray: #373536;
 * Background Gray: #292929;
 */

/*---- General ----*/
html, body {
    height: 100%;
}
body {
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    font-family: "PT Sans";
    overflow-y: scroll;
    padding: 0.5% 3% 0;
    height: 99%;
}
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.4em;
    font-weight: bold;
    margin: 15px 0;
}
h3 {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}
h4 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 7px 0;
}
h5 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px 0;
}
a {
    text-decoration: none;
}
p a {
    text-decoration: underline;
}
p {
    margin-bottom: 0.5em;
    line-height: 1.2em;
}
ul li {
    margin-bottom: 8px;
}
label {
    min-width: 140px;
    display: inline-block;
}
legend {
    font-size: 2.2em;
    font-weight: bold;
}
fieldset {
    margin: 20px auto;
}
input[type=submit] {
    font-family: "PT Sans";
}
textarea {
    width: 75%;
    height: 100px;
}
.flash {
    color: #2A2829;
    margin: 0 auto;
    font-size: 2em;
    border: 4px solid #F07830;
    border-width: 0px 0 0;
    background-color: #C0E0F0;
    font-weight: 400;
    padding: 20px;
    width: 95%;
    border-radius: 15px;
    text-align: center;
}
.notice, .fos_user_success {
    background-color: #D0F0C0;
}
.error {
    background-color: #F0C0C0;
}
button, input[type=submit], .buttoned {
    color: #FFF;
    font-weight: bold;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 1, 3)), to(rgb(110, 1, 0)));
    background-image: -moz-linear-gradient(0% 0% 270deg,#FF0103, #6E0100);
    background-color: #cc0001;
    border: 0;
    cursor: pointer;
    padding: 0 30px;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    font-size: 1.2em !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
}
button:hover, input[type=submit]:hover, .buttoned:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF4143), to(#6E2120));
    background-image: -moz-linear-gradient(0% 0% 270deg,#E60103, #540100);
}
dt, .slideshow-title {
    font-weight: bold;
    color: #ff0103;
}
dd, .slideshow-author {
    font-style: italic;
    margin: 4px 0 8px 8px;
}

/*---- Template ----*/
/*-- Header --*/
#header {
    margin: 0px 0 20px !important;
}
#branding {
    white-space: nowrap;
}
#logo-image {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
    padding-top: 15px;
}
#logo-text {
    display: inline-block;
    text-align: center;
}
#home-link {
    text-decoration: none;
    color: white;
    letter-spacing: 16px;
    font-family: Forum;
    position: relative;
    left: 8px;
}
#tagline {
    color: #ccc;
    margin-top: 6px;
    font-weight: bold;
}
#utility {
    position: absolute;
    right: 10px;
    top: 0;
}
#utility a {
    color: white;
}
#wrapper > div {
    margin: 15px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
}
#wrapper {
    background-color: transparent;
    margin: 0px auto 0;
    /* max-width: 1070px; 
    padding: 0px 0px 30px; */
    position: relative;
    min-width: 740px;
    min-height: 100%;
}
.page {
    background-color: #292929;
    padding: 20px;
    padding-top: 5px;
}
/*-- Footer --*/
#footer {
    height: 10px;
    margin-top: 60px;
    border-top: 2px solid white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 20px;
}
#feedback-link {
    color: red;
    font-weight: bold;
}

/*---- Front Page ----*/
#find-images {
    padding: 30px;
    text-align: center;
}
#finder_search_keyword {
    width: 280px;
    height: 40px;
    border: 0;
    padding: 0px 0px 0px 15px;
    font-size: 1.5em;
    margin: 0;
    vertical-align: top;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
}
.catalog-box {
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
}
.left-input {
    display: inline-block;
    width: 20px;
    vertical-align: top;
}
.catalog-input {
    white-space: nowrap;
    margin: 5px 0;
}
#finder_catalogs label {
    white-space: normal;
}
#finder_catalogs {
    text-align: left;
}
#desc {
    background-color: #cc0001;
    padding: 15px;
    font-size: 1.4em;
}

/*---- slideshow/image block display ----*/
#all-slideshows, #my-slideshows {
    max-height: 350px;
}
.block-container {
    text-align: center;
    overflow-y: auto;
    /* max-height: 550px; */
    border: 1px dotted #666;
    border-width: 1px 0 !important;
    margin: 25px auto;
    padding: 15px !important;
}
.slideshows, .images, .image-groups {
    text-align: center;
}
.slideshows li, .images li, .image-groups li {
    display: inline-block;
    text-align: center;
    padding: 12px 6px;
    border: 10px solid #666;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: .9em;
    background-color: #373737;
    margin: 4px;
    vertical-align: top;
}
.fancy-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.fancy-scroll::-webkit-scrollbar-track {
    background-color: #666;
    border-radius: 2px;
}

.fancy-scroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #cc0001;
}

.images li, .image-groups li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 15px 5px;
    width: 285px;
    height: 225px;
    overflow: hidden;
    text-align: center;
}
.image-groups li {
    height: 300px;
}
.image img {
    margin-bottom: 10px;
    max-width: 150px;
    background-color: white;
}
.image-and-buttons {
    float: left;
    width: 57%;
    height: 100%;
}
.image {
    height: 160px;
    line-height: 160px;
}
.image img {
    vertical-align: middle;
}
.image-groups .image {
    height: 200px;
    line-height: 200px;
}
.record-link {
    margin-top: 3px;
}
.record-link a {
    text-decoration: underline;
}
.slideshow-title {
    margin: 7px;
}
.metadata {
    text-align: left;
    white-space: normal;
    width: 43%;
    height: 100%;
    float: right;
}
.metadata dt {
    margin-bottom: 4px;
}
.metadata dd {
    max-height: 6em;
}

/*---- import page ----*/
.indented {
    margin-left: 20px;
}
.import-form {
    text-align: center;
}

/*---- Results Page ----*/
#finder-results-tabs {
    position: absolute;
    bottom: 80px;
    top: 100px;
    width: 100%;
}
#finder-results-tabs > form {
    height: 100%;
}
#image-result-container {
    height: 100%;
    position: relative;
    padding: 0;
}
#image-result-container h2 {
    margin: 15px;
}
#results-container {
    position: absolute;
    bottom: 100px;
    top: 30px;
    left: 15px;
    right: 15px;
}
.submit-buttons {
    position: absolute;
    bottom: 65px;
    left: 15px;
    right: 15px;
}
.col {
    width: 33%;
    display: inline-block;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.added {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8BBF71), to(#547344));
    background-color: #8BBF71;
    box-shadow:0px 0px 7px #6587A8;
}
.added:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8BBF71), to(#547344));
    background-color: #8BBF71;
    cursor: default;
}

/*---- Show slideshow page ----*/
#embed_wrap {
    float: right;
    vertical-align: middle;
    width: 200px;
}
#embed_text {
    vertical-align: top;
}
#embed_code {
    height: 40px;
    width: 160px;
}
.cleared {
    clear: both;
}
#slideshow-tools {
    margin-bottom: 10px;
    padding: 10px;
}
#slideshow-tools form {
    display:inline-block;
}
#slideshow-title {
    margin-bottom: 10px;
}
#slideshow-author {
    font-weight: normal;
    font-style: italic;
}

/*---- FAQ ----*/
#faq p {
    margin-left: 35px;
}
#faq ul {
    list-style-type: disc;
    margin-left: 70px;
}

/*---- Feedback ----*/
.info-text {
    max-width: 600px;
    padding: 20px;
}
/*.centered {
    text-align: center;
}
.image input[type=checkbox] {
    position: absolute;
    top: 7px;
    left: 7px;
    margin: 0;
}
.image label {
    margin: 0;
}
.image-block label{
    margin: 0;
    font-size: 1.4em;
}
#finder > div:first-child {
    float: left;
}
#slideshow #slideshow_slides li img:hover {
    cursor: move;
}
.placeholder {
    background-color: #781800;
    height: 140px;
    width: 140px;
    display: inline-block;
    margin: 5px 5px 10px;
}
#slideshow_tools {
    margin-bottom: 20px;
}
#slideshow_tools form {
    display: inline-block;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
#add-images-container > div {
    border-bottom: 1px dotted #cc0001;
    margin-bottom: 10px;
    padding: 10px;
}
#add-images-container h2 {
    margin-bottom: 10px;
}

#slide_container {
}

.submit-buttons {
    text-align: center;
}

#slideshow-start-button {
    margin-bottom: 10px;
}

#slideshows, #my-slideshows {
    overflow-y: auto;
    max-height: 252px;
}


.bottom-margined {
    margin-bottom: 15px;
}

.top-margined {
    margin-top: 15px;
}
.ui-tabs-nav li {
    font-weight: bold !important;
}
.ui-widget-header:first-child {
    border-width: 1px 1px 1px 0;
}
