/*
 * Light Blue: #B9D7D9, D3E9EB 487890
 * Lighter Blue: #DFF1F2, F7FFFF;C0E0F0
 * Teal: #668284, 7B9596;F07830
 * Black: #2A2829
 * Brownish: #493736, 5C4A49;F07830
 * Red: #7B3B3B, 8C4A4A 781800
 */
body, html {
	height: 100%;
}
body {
	background-color: #781800;
	background-color: #6587A8;
	color: white;
	font-family: 'Cardo';
	font-size: 18px;
}
h1, h2, h3 {
	font-family: 'Lato';
	color: white;
}
h1 {
	font-size: 72px;
	margin: 20px 10px;
	font-weight: 900;
	border-bottom: 8px solid white; 
}
h2 {
	font-size: 48px;
	margin: 20px 10px;
}
dt {
	font-weight: bold;
	text-decoration: underline;
	margin-top: 10px;
}
label {
	margin: 0 10px;
}
td {
    padding: 15px;
}
th {
    font-size: 1.25em;
}
p {
    text-align: left;
    font-size: .65em;
    margin-bottom: 10px;
}
#wrapper img, #wrapper input[type=image] {
	border: 4px solid #2A2829;
}
#wrapper {
	background-color: transparent;
	border: 10px solid #F07830;
	border-width: 0 0px;
	margin: 20px 7% 0;
	min-width: 960px;
	padding: 10px 0px 30px;
}
#footer {
	height: 50px;
	margin-top: 60px;
	border-top: 6px solid white;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: white;
}
#utility {
	float: right;
	margin-right: 30px;
	position: relative;
	top: -50px;
	color: white;
}
#utility a {
	color: white;
}
#header h1 {
	margin-top: 0
}
.centered {
	text-align: center;
}
#slideshows .slideshow {
	display: inline-block;
	text-align: center;
	padding: 0 10px;
}
#slideshows {
	line-height: normal;
}
.lightWrap, .flash {
	color: #2A2829;
	margin: 0 auto;
	font-size: 24px;
	border: 4px solid #F07830;
	border-width: 0px 0 0;
	background-color: #C0E0F0;
	font-family: Lato;
	font-weight: 400;
	padding: 20px;
	width: 95%;
	border-radius: 15px;
}
.flash {
    text-align: center;
}
.notice, .fos_user_success {
    background-color: #D0F0C0;
}
.error {
    background-color: #F0C0C0;
}
#finder_repos label {
	font-size: 18px;
	font-family: 'Cardo';
}
input[type=text], input[type=number], input[type=password], input[type=email] {
	font-size: 24px;
	border: 3px solid #F07830;
	border-radius: 10px;
	background-color: #FFFFF6;
	padding: 4px 10px;
	box-shadow: 0px 0px 7px #F07830;
}
button, input[type=submit], .buttoned {
	color: #FFFFF6;
	font-size: 24px;
	background-color: #781800;
	border: 3px solid #F07830;
	padding: 4px 10px;
	font-family: Lato;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 0px 7px #F07830;
	margin-top: 20px;
}
button:hover, input[type=submit]:hover, .buttoned:hover {
	background-color: #A60000;
}
a:link.buttoned,  a:visited.buttoned,  a:hover.buttoned,  a:active.buttoned {
	color: white;
	text-decoration: none;
}
a:visited, a:active {
	color: #2A2829;
}
.image input[type=checkbox] {
	position: absolute;
	top: 7px;
	left: 7px;
	margin: 0;
}
.image label {
    margin: 0;
}
.image, .image-block li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 5px 5px 10px;
}
.image-block li {
	width: 200px;
	overflow: hidden;
	border-radius: 20px;
	text-align: center;
	padding: 20px 15px;
	background-color: #E6F7FF;
}
.image-buttons, .collection-buttons {
}
/*.image-block {
	font-size: 14px;
	font-family: 'Cardo', serif;
}*/
.image-block label{
	margin: 0;
    font-size: 16px;
}
.image-block a {
    font-size: 16px;
}
#finder > div:first-child {
	float: left;
}
#slideshow #slideshow_slides li img:hover {
	cursor: move;
}
.placeholder {
	background-color: #781800;
	height: 140px;
	width: 140px;
    display: inline-block;
    margin: 5px 5px 10px;
}
.metadata {
	font-size: 16px;
	text-align: left;
}
.metadata dd {
	font-size: 13px;
}
.metadata dt {
	margin-bottom: 4px;
}
#home-link {
   text-decoration: none;
}
#slideshow_tools {
	margin-bottom: 20px;
}
#slideshow_tools form {
	display: inline-block;
}
#slideshow_tools .buttoned, #slideshow_tools button {
	margin: 0 10px 0 0;
}
#embed_code {
	height: 60px;
	width: 450px;
}
