{% extends "BerkmanSlideshowBundle::layout.html.twig" %}

{% block body %}
<div class="page">
    <p>
    {{ 'resetting.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
    </p>
</div>
{% endblock %}
