{% extends "BerkmanSlideshowBundle::layout.html.twig" %}

{% block title %}Spectacle - Password Change Already Requested{% endblock %}

{% block body %}
<div class="page">
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
</div>
{% endblock body %}
