{% extends "BerkmanSlideshowBundle::layout.html.twig" %}

{% block title %}Spectacle - Request a Password Change{% endblock %}

{% block body %}
<div class="page">
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
</div>
{% endblock body %}
