{% extends "BerkmanSlideshowBundle::layout.html.twig" %}

{% block title %}Spectacle - Reset My Password{% endblock %}

{% block body %}
<div class="page">
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
</div>
{% endblock body %}
