html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #111;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}
.slideInfo {
	/*display: none;*/
	margin: 0;
	padding: 10px 30px;
	max-height: 30%;
	color: #EEE;
	background-color: black;
	filter: alpha(opacity = 90);
	background-color: rgba(10, 10, 10, 0.9);
	text-align: left;
	position: absolute;
	bottom: 0;
}
#slides {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
.slide {
	margin: 0 auto;
}
#slides img {
	height: 100%;
	margin: 0 auto;
}
a {
	color: #EEE;
}
