{% block _slideshow_slides_row %}
{% spaceless %}
        <ol {{ block('widget_container_attributes') }}>
        {% for child in form %}
			<li class="image">
            {{ form_widget(child) }}
            {{ image_label(child) }}
			</li>
        {% endfor %}
        </ol>
{% endspaceless %}
{% endblock _slideshow_slides_row %}

{% block _findresults_images_row %}
{% spaceless %}
	{{ block('_slideshow_slides_row') }}
{% endspaceless %}
{% endblock _findresults_images_row %}
