{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<h2>Search</h2>
{% include 'BerkmanSlideshowBundle:Finder:find.html.twig' %}

<ul class="record_actions">
    <li>
        <a href="{{ path('finder_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

